@import './src/colorPallette.scss';

.categoryAdvantage {
    padding: 60px 0;
    background-color: $lightblue;
    &__points {
        display: flex;
        flex-direction: column;
        width: 510px;
        margin-right: 50px;
        &-item {
            display: flex;
            align-items: flex-start;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            &__img {
                width: 40px;
                height: 63px;
                margin-right: 40px;
                font-size: 70px;
                color: black;
                -webkit-text-stroke: 4px black;
                -webkit-text-fill-color: transparent;
            }
            &__text {
                width: 370px;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                & span {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    text-decoration-line: underline;
                    text-transform: uppercase;
                    color: #000000;
                    display: block;
                    margin-bottom: 20px;
                }
            }
        }
    }
    &__description {
        width: 560px;
        &-title {
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 37px;
            text-transform: uppercase;
            color: #2D313A;
            margin-bottom: 60px;
        }
        &-text {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            margin-bottom: 70px;
        }
    }
}