@import './src/colorPallette.scss';

.numbers {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
}

.head-title {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    text-align: start;
    justify-items: start;
    width: 100%;
    max-width: 1140px;
    text-align: start;
    margin: 0 auto;
    color: $activegray;
}