@import './src/colorPallette.scss';
.banner-main {
    background-image: url('../../../../assets/banner.png');
    background-color: $lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 85px 0;
}

.title {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    max-width: 700px;
}

.transparent {
    margin-top: 70px;
}

