@import './src/colorPallette.scss';

.service {
    max-width: 380px;
    height: 250px;
    background-color: $white;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid $background;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    &-icon {
        width: 50px;
        height: 50px;
    }
    &-title {
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        color: $gray;
    }
    &-subtitle {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $gray;
    }
    &:hover {
        background-color: $hover;
    }
}

.advantage {
    max-width: 275px;
    height: 200px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-decoration: none;
    &-icon {
        width: 50px;
        height: 50px;
    }
    &-title {
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: $gray;
    }
    &-subtitle {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $gray;
        width: 150px;
    }
}

.news {
    max-width: 32%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    flex-shrink: 0;
    height: 530px;
    align-items: flex-start;
    text-decoration: none;
    &-icon {
        width: 100%;
        height: 250px;
        flex-shrink: 0;
    }
    &-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: $gray;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
    &-subtitle {
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: $gray;
        overflow: hidden;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
}


.additionalCard {
    max-width: 350px;
    height: 420px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
    padding: 20px 25px;
    &__header{
        display: flex;
        flex-direction: column;
         &-title {
            font-style: normal;
            font-weight: 800;
            font-size: 30px;
            line-height: 37px;
            color: $gray;
        }
        &-subtitle {
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 22px;
            color: $gray;
            border-bottom: 1px solid white;
            padding-bottom: 15px;
        }
    }
    &__places {
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $gray;
        &-item {
            font-style: italic;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: $gray;
        }
    }
    &:hover {
        background-color: $lightblue;
    }
}


.aboutCard {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: ease-out 0.2s;
    &-icon {
        margin-bottom: 25px;
        width: 55px;
        height: 55px;
    }
    &-title {
        font-style: normal;
        line-height: 22px;
        color: $gray;
        font-size: 14px;
        font-weight: 300;
        padding: 0 50px;
    }
    &:hover {
        background-color: $hover;
    }
}

 