$lightgray: rgba(45, 49, 58, 0.25);
$verylightgray: rgba(250, 250, 250, 1);
$activegray: rgba(45, 49, 58, 1);
$gray: #2D313A;
$blue: rgba(40, 76, 125, 1);
$lightblue: rgba(221, 231, 244, 1);
$background: #FAFAFA;
$white: white;
$black: black;
$hover: rgba(221, 231, 244, 1);

