@import './src/colorPallette.scss';
.services {
    background: $background;
    padding: 50px 0 100px 0;
    &-cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        justify-content: center;
        position: relative;
        // &:hover .background{
        //     background-color: white;
        //     display: flex;
        // }
    }
    &-title {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
        text-transform: uppercase;
        color: $gray;
        margin: 100px 0 30px 0;
    }
}

