@import './src/colorPallette.scss';

.supply {
    padding: 50px 0 100px 0;
    // display: flex;
    // flex-direction: column;
    justify-content: center;
    // align-items: center;
    background-color: $verylightgray;
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
        text-transform: uppercase;
        color: $activegray;
        margin-top: 23px;
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(480px, 575px));
        grid-template-rows: repeat(3, 350px);
        margin-top: 100px;
        gap: 2px;
    }
}

.additionalCardForDM {
    max-width: 575px !important;
    height: 350px !important;
}

.icons {
    margin-right: 20px;
    margin-top: 10px;
}

.sostav {
    width: 100%;
    padding: 20px;
    background-color: white;
}