@import './src/colorPallette.scss';

.transparent {
    padding: 17px 30px;
    border-radius: 5px;
    border: 1px solid $white;
    background-color: transparent;
    cursor: pointer;
    &-text {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
    }
}

.transparentBlue {
    padding: 17px 30px;
    border-radius: 5px;
    border: 1px solid $blue;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    color: $blue;
    transition: 0.2s ease-out;
    &-text {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        // color: $blue;
    }
    &:hover {
        background-color: $blue;
        color: $white;
    }
}

.blue {
    padding: 17px 30px;
    border-radius: 5px;
    border: 1px solid $white;
    background-color: $blue;
    cursor: pointer;
    &-text {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
    }
}

.readMore {
    border: none;
    background-color: transparent;
    cursor: pointer;
    &-text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: $gray;
    }
}

.readExactly {
    border: none;
    background-color: transparent;
    cursor: pointer;
    &-text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: $gray;
    }
}

.borded {
    transition: 0.2s;
    border-bottom: 2px solid $white;
    &:hover {
        border-bottom: 2px solid $blue;
    }
}

.buttons {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 60px;
}