@import './src/colorPallette.scss';

// #about {
//     background: $background;
// }

.about {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row-reverse {
    flex-direction: row-reverse;
}