@import './src/colorPallette.scss';

.callBanner{
    background-color: $blue;
    padding: 60px 0;
    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: $white;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    &__subtitle {
        color: $white;
        font-weight: 300;
        font-size: 14px;
        line-height: 15px;
        text-transform: uppercase;
        margin-bottom: 70px;
    }
}