@import './src/colorPallette.scss';
.header {
    background-color: $white;
    display: flex;
    padding: 20px 0;
    align-items: center;
    width: 100%;
}

.logo {
    width: 75px;
    height: 40px;
    margin-right: 40px;
}

.nav {
    display: flex;
    width: 550px;
    justify-content: space-between;
    &-item {
        font-family: 'Montserrat', 'Open Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        text-decoration: none;
        color: $lightgray;
        position: relative;
        &__child {
            color:black;
            display: block;
            width: max-content;
            padding: 15px;
            background: white;
            border-bottom: 1px solid $lightblue;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-transform: lowercase;
            &:hover {
                background-color: $lightblue;
            }
        }
    }
}

.active {
    color: $activegray;
    border-bottom: 3px solid $blue;
    padding-bottom: 15px;
}

.HeaderContacts {
    display: flex;
    padding: 20px 0;
    align-content: center;
    width: 100%;
    background-color: $verylightgray;
    &__item {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        margin-left: 30px;
        img {
            margin-right: 7px;
        }
        a {
            color: $activegray;
            text-decoration: none;
        }
    }
}

.marginLeftAuto {
    margin-left: auto;
}


.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.5s ease-in-out;
  transform: scaleY(0);
  transform-origin: 0 0;
  width: 323px;
  border-right: 5px solid transparent;
  &__two {
      position: absolute;
      left: 101%;
      transform: scaleY(0);
      background-color: red;
      width: 100%;
      z-index: 10;
      transition: 0.5s ease-in-out;
      transform: scaleY(0);
      transform-origin: 0 0;
  }
}
  .first {
    top: 0;
  }

  .second {
    top: 48px;
  }

  .third {
    top: 97px;
  }

  .fourth {
    top: 146px;
  }

  .fifth {
    top: 196px;
  }

  .sixth {
    top: 261px;
  }


  .nav-item:hover {
    color: $activegray;
  }

  .nav-item:hover .submenu {
    transform: scaleY(1);
  }

  .nav-item__child {
    width: 100%;
  &::first-letter {
      font-size: 18px;
  }
  &:hover .submenu__two {
    transform: scaleY(1);
  }
}
